.odd-number {
    background-color: rgb(247, 131, 131);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.odd-number#three {
    font-size: 24px;
}

#two {
    color: rgb(69, 108, 236);
    font-size: 36px;
}